@font-face{
    font-family: 'releway';
    src: url("../fonts/Raleway-Regular.ttf");
    
}
@font-face{
    font-family: 'century-gotic';
    src: url("../fonts/GOTHIC.TTF")
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x:hidden;
    padding: 0;
    margin: 0;
}
body .body{
    flex: 1;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "century-gotic"; 
}
p, span {
    font-family: "releway"; }

.color_a_nav{
    color: grey;
}
.li_color{
    color: #99cf16;
}
.a_linea{
    border-right: 1px solid #dddddd;
}
.a_linea2{
    border-right: 1px solid #dddddd;
}
a:hover{
    color: #99cf16;
    transition: all 0.35s ease-out;
    text-decoration: none;
}
.contenedor_logo{
    height: 78px;
    width: 149px;
}
.contenedor_pse{
    height: 55px;
    width: 72px;
}
.margen_busca{
    margin-bottom: 21px;
}
.style_span_tipo_inmueble{
    position: absolute;
    top: 15px;
    font-size: 9px;
    color: #fff;
    text-align: center;
    right: auto;
    letter-spacing: 1.5px;
    background-color: #77c720;
    padding: 6px 10px 4px 10px;
   
}
.style_span_precio{
    position: absolute;
    top:212px;
    font-size: 9px;
    color: #fff;
    text-align: center;
    right: 21px;
    letter-spacing: 1.5px;
    background-color:  #77c720;
    padding: 6px 10px 4px 10px;
}
.margen_targe{
    padding: 20px;
}
.color_venta{
    color: #77c720;
    font-size: 44px;
    margin-top: 18px;
}
.margen_serv{
    margin-top: 30px;
}
.banner_estadi{
background: url(../images/no_image.png);
background-color: #4c4c4c52;
height: 271px;
}
.estilo_icono_foot{
    color: #77c720;
    display: block;
    transition: all 0.35s ease-out;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: auto;
    text-align: center;
    background: transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #c2c2c2;
}
.li_footer{
    display: block;
    margin: 10px 0;
    
}
.a_footer{
    display: inline-block;
    transition: all 0.35s ease-out
    ;text-decoration: none;
    text-align: center;
    color: black;
}
.contac_foot{
    color: #77c720;
    padding-right: 10px;
    font-size: 20px;
}
.style_correo{
    font-size: 14px;
    color: black;
}
.color_a_foot{
    color: black;
}

.subir {
    display: none;
    padding: 15px;
    background-color: #77c720;;
    color: white;
    font-size: 12px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    -webkit-box-shadow: -2px 2px 5px 3px rgba(189,189,189,1);
    -moz-box-shadow: -2px 2px 5px 3px rgba(189,189,189,1);
    box-shadow: -2px 2px 5px 3px rgba(189,189,189,1);
    z-index: 2;
}

